:global :root {
  --background-color: #FFF;
  --secondary-background-color: #F5F5F5;
  --image-background-color: transparent;
  --hover-background-color: #EFEFEF;

  --primary-color: #212121;
  --accent-color: #4CAF50;
  --disabled-color: #E0E0E0;
  --error-color: #F44336;

  --text-color: #212121;
  --secondary-text-color: rgba(0, 0, 0, .54);
  --primary-bg-text-color: #F5F5F5;
  --accent-bg-text-color: #F5F5F5;
  --header-text-color: rgba(0, 0, 0, .54);
  --disabled-text-color: rgba(0, 0, 0, .26);
  --label-text-color: #4CAF50;

  --border-color: rgba(0, 0, 0, .54);
  --divisor-border-color: #E0E0E0;
  --disabled-border-color: #E0E0E0;
  --button-border-color: #4CAF5050;

  --snackbar-background-color: #323232;
  --snackbar-text-color: #F5F5F5;

  --flat-button-hover-background-color: #EFEFEF;
  --raised-button-hover-background-color: #43A047;
}

@media (prefers-color-scheme: dark) {
  :global :root {
    --background-color: #292a2d;
    --secondary-background-color: #202124;
    --image-background-color: #F5F5F5;
    --hover-background-color: #424242;
  
    --primary-color: #292a2d;
    --accent-color: #4CAF50;
    --disabled-color: #424242;
    --error-color: #F44336;
  
    --text-color: #F5F5F5;
    --secondary-text-color: #9E9E9E;
    --primary-bg-text-color: #F5F5F5;
    --accent-bg-text-color: #F5F5F5;
    --header-text-color: #F5F5F5;
    --disabled-text-color: #9E9E9E;
    --label-text-color: #4CAF50;
  
    --border-color: rgba(0, 0, 0, .54);
    --divisor-border-color: #424242;
    --disabled-border-color: rgba(0, 0, 0, .54);
    --button-border-color: #4CAF5050;
  
    --snackbar-background-color: #323232;
    --snackbar-text-color: #F5F5F5;

    --flat-button-hover-background-color: #424242;
    --raised-button-hover-background-color: #43A047;
  }
}