.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  user-select: none;
  outline: none;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  padding: 6px;
};

.button:disabled {
  cursor: not-allowed;
}

.childrenContainer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}