.container {
  width: 100%;
}

.optionsContainer {
  margin: auto;
  width: 600px;
}

.optionsSection>h2 {
  padding-bottom: 0px;
  width: 100%;
  color: var(--secondary-text-color);
}

.field {
  padding: 24px;
}

.card {
  box-sizing: border-box;
  width: 100%;
  padding: 32px 24px;
  background: var(--background-color);
  box-shadow: var(--shadow-2dp);
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.repoSourceEntryContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--bright-border-color);
  padding: 10px 0;
}

.repoSourceEntryContainer>button {
  margin-left: auto;
}

.repoSourceEntryTitle {
  margin-left: 10px;
  font-size: 18px;
}

.repoSourceEntryImage {
  width: 50px;
  height: auto;
}