.container {
  width: 100%;
}

.loaderContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.loader {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.loader>circle {
  stroke: var(--accent-color);
}

.optionsContainer {
  margin: auto;
  width: 600px;
}

.optionsSection>h2 {
  padding-bottom: 0;
  width: 100%;
  color: var(--text-color);
  font-size: 12px;
}

.field {
  padding: 24px 0;
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0 24px;
}

.dialogCheckboxContainer {
  display: flex;
}

.dialogCheckboxContainer>label {
  padding: 8px 0;
}

.dialogCheckboxContainer>div {
  margin-left: auto;
}

.card {
  box-sizing: border-box;
  width: 100%;
  padding: 32px 24px;
  background: var(--background-color);
  box-shadow: var(--shadow-2dp);
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.repoSourceEntryContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--divisor-border-color);
  padding: 12px 0;
}

.repoSourceEntryContainer>button {
  margin-left: auto;
}

.repoSourceEntryTitle {
  margin-left: 12px;
  font-size: 18px;
  color: var(--text-color);
}

.repoSourceEntryImageContainer {
  display: flex;
  background: var(--image-background-color);
  border-radius: 4px;
  padding: 2px;
}

.repoSourceEntryImage {
  width: 52px;
  height: auto;
}